@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-brand: #45556b;
  --color-link: #445a92;
  --font-sans: "Inter", sans-serif;
}
